@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<section class="row text-left gutters-48" style="padding:55px">

    <article class="text-left">
        <!--<div class="text-center"><i class="glyphicon glyphicon-film" style="font-size:100px;"></i></div>-->
        <h1 class="text-left">Derrell Murray</h1>
        <div class="container col-sm-8 text-center">
            <p class="text-left">
                I am passionate about building excellent software that improves the lives of those around me.
                I specialize in analyzing problems, strategizing, and coming up with solutions. Always seeking
                to make things more efficient.  In my years working in a fast paced market research environment
                I had to deal with multiple teams with competing priorities and deadlines.  And throughout this
                I was often praised for my professionalism, work ethic, and personal initiative.<br />
            </p>
        </div>
    </article>
</section>
