@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    Derrell Murray<br />
    West Palm Beach, FL 33409<br />
</address>

<address>
    <strong>EMail:</strong>   <a href="mailto:dmurray263@yahoo.com">dmurray263@yahoo.com</a><br />
    <strong>LinkIn:</strong>  <a href="http://www.linkedin.com/in/derrell-murray-wpb">LinkedIn</a>
</address>