@{
    ViewBag.Title = "Home Page";
}



<section class="row  text-center align-items-center js-fullheight" style="position:relative ">
    <div class="js-fullheight content">

        <div class="justify-content-center align-items-center">
            <div class="col-sm-12 justify-content-center " style="padding:55px;">
                <img src="~/Content/DSC_0053.jpg" alt="Random Name" class="img-circle" style="width:200px; height:260px;">
                <div class="container text-center" style="max-width:625px;">
                    <h3>Hello I'm</h3>
                    <h1><strong>Derrell Murray</strong></h1>
                    <p class="text-justify specialfont">
                        Welcome to my website. I am passionate about building excellent software that improves the lives of those around me.
                        I specialize in analyzing problems, strategizing, and devising solutions. Always seeking
                        to make things more efficient. Here you'll find demonstrate some of my abilities that go beyond what you'll 
                        find in my resume. Thanks for visiting.
                    </p>
                    <p><a href="#about_this_site" class="btn-custom specialfont">Learn More <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="row  text-center align-items-center" style="position:relative "></section>

<!-- information section -->
<a id="about_this_site"></a>
<section class="row text-center gutters-48" style="padding:75px">
    <article class="col-sm-2 align-items-center"></article>

    <article class="col-sm-8 align-items-center">
        <div class="mb-4">
            <h4 class="text-cente specialfont">ABOUT THIS SITE</h4>
            <p class="text-left">
                This site is an ASP.NET MVC site and it is hosted on Microsoft's Azure Portal along with a hosted SQL database.
                I've also compiled links below to other pages demonstrating some web capabilities as well as sample C# and VBA code
                stored on my GitHub. Its a bit rudamentory but I will continue to add to this site as the time allows.
            </p>
        </div>
    </article>
    <article class="col-sm-2 align-items-center"></article>
</section>

<section class="row text-center gutters-48" style="padding:55px">
    <article class="col-sm-4 text-left">
        <!--<div class="text-center"><i class="glyphicon glyphicon-list-alt" style="font-size:100px;"></i></div> -->
        <img class="mb-4" src="~/Content/image_4.jpg" style="height:330px; width:270px;">
        <div class="mb-4">
            <h4 class="text-left specialfont mb-4">CREDENTIALS</h4>
            <p class="text-left  "><a href="~/Content/Derrell Murray Resume MS V3 DM2.pdf" target="_blank">View My Resume</a></p>
            <p class="text-left">_____</p>
            <p class="text-left"><a href="https://www.linkedin.com/in/derrell-murray-wpb/" target="_blank">View My Linked-In Profile</a></p>
            <p class="text-left">_____</p>
            <p class="text-left hidden"><a href="#" target="_blank">View List Of Skills</a></p>
            <p class="text-left hidden">_____</p>
            <p class="text-left"><a href="https://derrellmurray.github.io/" target="_blank">View my GITHUB</a></p>
            <p class="text-left">_____</p>
        </div>
    </article>
    <article class="col-sm-4 text-left">
        <!--<div class="text-center"><i class="glyphicon glyphicon-folder-open" style="font-size:100px;"></i></div>-->
        <img class="mb-4" src="~/Content/image_9.jpg" style="height:330px; width:270px;">
        <div class="mb-4">
            <h4 class="text-left specialfont mb-4">SAMPLE CODE ON GITHUB</h4>
            <p class="text-left"><a href="https://github.com/DerrellMurray/my_csharp_file_comparer" target="_blank">Sample C# application to compare two Excel or Text files and display the differences in a 3rd file.</a></p>
            <p class="text-left">_____</p>
            <p class="text-left"><a href="https://github.com/DerrellMurray/dataAccessSamples" target="_blank">Sample C# code showing data access to various types of small databases and files using ado.</a></p>
            <p class="text-left">_____</p>
            <p class="text-left"><a href="https://github.com/DerrellMurray/CA-BankAccounts" target="_blank">Sample C# application to demonstrate a bank account program which uses Object Oriented coding.</a> </p>
            <p class="text-left">_____</p>
            <p class="text-left hidden"><a href="#" target="_blank">C# code to solve some hackerrank problems</a></p>
            <p class="text-left hidden">_____</p>
            <p class="text-left"><a href="https://github.com/DerrellMurray/ExcelVBAMapper" target="_blank">Excel VBA macro code which automates PowerPoint to create consumer perceptual maps used in presentations.</a></p>
            <p class="text-left">_____</p>
        </div>
    </article>
    <article class="col-sm-4  text-left">
        <!--<div class="text-center"><i class="glyphicon glyphicon-calendar" style="font-size:100px;"></i></div>-->
        <img class="mb-4" src="~/Content/image_12.jpg" style="height:330px; width:270px;">
        <div class="mb-4">
            <h4 class="text-left specialfont mb-4">SAMPLE WEB SKILLS</h4>
            <p class="text-left">@Html.ActionLink("Sample Tech Support Issue Tracker written using JavaSscript, JSON, and Local Storage", "IssueTracker", "Home")</p>
            <p class="text-left">_____</p>
            <p class="text-left">@Html.ActionLink("SQL Data Consumer Using Entity Framework and an SQL database hosted on Microsoft Azure", "Index", "Movies/Index")</p>
            <p class="text-left">_____</p>
            <p class="text-left hidden"><a href="#" target="_blank">Web API consumer</a></p>
            <p class="text-left hidden">_____</p>
            <p class="text-left hidden"><a href="#" target="_blank">user login to backpage</a></p>
            <p class="text-left hidden">_____</p>
        </div>

    </article>
</section>


